<div *ngIf="selectedOrdenPago">
    {{selectedOrdenPago.concepto}}
</div>
<table style="width:50%">
    <tr *ngIf="mostrarApiKey; else botonMostrarApiKey">
            <td>ApiKey: </td>
            <td><input type="text" class="form-control" [(ngModel)]="key"></td>
            <td><button class="btn btn-primary" (click)="validateKey()">Validar</button> </td>
    </tr>
    <ng-template #botonMostrarApiKey>
            <tr>
                <td>
                    <button class="btn btn-primary" (click)="IntroduceApiKey()">Introducir Api Key</button>
                </td>
            </tr>
        </ng-template>
</table>

<table class="table">
    <thead>
        <tr>
            <th>idProyecto</th>
            <th>idFactura</th>
            <th>idComisionServicio</th>
            <th>concepto</th>
            <th>cantidad</th>
            <th>beneficiario</th>
            <th>iban</th>
            <th>estado</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tr>
        <td><input class="form-control" [(ngModel)]="newOrdenPago.idproyecto" required></td>
        <td><input class="form-control" [(ngModel)]="newOrdenPago.idfactura" required></td>
        <td><input class="form-control" [(ngModel)]="newOrdenPago.idcomservicios" required></td>
        <td><input class="form-control" [(ngModel)]="newOrdenPago.concepto" required></td>
        <td><input type="number" min="0" class="form-control" [(ngModel)]="newOrdenPago.cantidad" required></td>
        <td><input class="form-control" [(ngModel)]="newOrdenPago.beneficiario" required></td>
        <td><input class="form-control" type="number" [(ngModel)]="newOrdenPago.iban" required></td>
        <td><input class="form-control" [(ngModel)]="newOrdenPago.estado" readonly></td>
        <td><button class="btn btn-primary" (click)="addOrdenPago()">Add OrdenPago</button> </td>
    </tr>

    <tr *ngFor="let orden of ordenesPago" app-editable-orden [orden]="orden">
    </tr>
</table>